
.moving-zone {
    position: absolute;
    perspective: 800px;
}
.popup {
    width: 150px;
    transition: 0.1s;
    cursor: pointer;
    transform-style: preserve-3d;
}
.popup-content {
    transition: 0.1s;
}